.clients-container {
	margin-top: 30px;
	text-align: center;
}

.clients-container-2 {
    height: 50%; /*your fixed height*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
       -moz-column-count: 2; /* Firefox */
            column-count: 2; /*3 in those rules is just placeholder -- can be anything*/
}

.clients-container-2>ul {
	line-height: 220%;
}

.clients-container-2>li {
    display: inline-block;
}

.more-clients {
	margin: 30px; 
}

.more-clients>h2 {
	margin-bottom: 20px;
}

.clients-images {
    display: inline-block;
    margin-bottom: 30px;
    border-color: rgba(25, 24, 24, 0.6);
    background-color: rgba(25, 24, 24, 0.6);
}

.panel-footer {
    text-align: center;
    /* font-weight: bold; */
    /* color: #000; */
    border-color: rgba(25, 24, 24, 0.6);
    background-color: rgba(25, 24, 24, 0.6);
}