.description{
	margin-top: 30px;
	font-size: 17px;
	text-align: justify;
    text-justify: inter-word;
}

.description>p {
	line-height: 200%;
	text-indent: 30px;
}

.description>p>img {
	margin: 10px;
}

#page-picture {
	width: 30%;
	height: 30%;
	float: right;
	vertical-align: middle;
}